.badge {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  border: 1px solid;
}

.badge__wrp {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 15px;
}