.main {
  display: flex;
  flex-direction: column;
  padding: 90px 40px 32px 40px;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.4px;
  color: #FFFFFF;
}

.theme {
  margin-bottom: 7px;
}

.header {
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 80px;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 289px;
  gap: 30px;
}

.tgLogo {
  margin-left: 9px;
  height: 36px;
  width: 36px;
}

.license {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.5px;
  width: 304px;
  text-align: center;
  a {
    color: #FFFFFF;
  }
}