.area {
  //margin: 0 40px;
  margin: 50px;
  max-width: 320px;
}
.table-wrapper {
  display: flex;
  position: relative;
}
.table {
  width: 100%;
  //margin: 0 40px;
}

.row {
  display: flex;
  height: 62px;
}
.col {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
  //width: calc(100% - 25px) / 5;
  width: 62px;
  //padding: 15px 25px;
  border-right: 1px solid #9D9D9D;
  border-bottom: 1px solid #9D9D9D;
}
.col:first-of-type {
  width: 25px;
  background: #C4C4C4;
  //padding: 0;
  border-left: 1px solid #9D9D9D;
}
.row:first-of-type .col {
  border-top: 1px solid #9D9D9D;
  font-size: 16px;
  line-height: 24px;
}

.col:hover {
  background: #008960;
  cursor: pointer;
}

.col:first-of-type {
  cursor: default;
  background: #C4C4C4;
}

.row:last-of-type {
  height: 25px;
  cursor: default;
  .col {
    cursor: default;
    background: #C4C4C4;
  }
  .col:first-of-type {
    background: #9D9B9B;
  }
}

.question {
  height: auto;
  width: auto;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  padding: 0 0 0 10px;
  position: absolute;
  bottom: 0;
  left: -30px;
}
.question2 {
  padding: 10px 0 0 0;
  margin: 0 0 0 30px;
}

.extra-table-wrapper {
  margin-top: 34px;
}

.extra-question {
  padding-bottom: 16px;
}