@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFPro/SFProDisplay-Medium.eot');
  src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
  url('./assets/fonts/SFPro/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/SFPro/SFProDisplay-Medium.woff2') format('woff2'),
  url('./assets/fonts/SFPro/SFProDisplay-Medium.woff') format('woff'),
  url('./assets/fonts/SFPro/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFPro/SFProDisplay-Heavy.eot');
  src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
  url('./assets/fonts/SFPro/SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/SFPro/SFProDisplay-Heavy.woff2') format('woff2'),
  url('./assets/fonts/SFPro/SFProDisplay-Heavy.woff') format('woff'),
  url('./assets/fonts/SFPro/SFProDisplay-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFPro/SFProDisplay-UltralightItalic.eot');
  src: local('SF Pro Display UltralightItalic'), local('SFProDisplay-UltralightItalic'),
  url('./assets/fonts/SFPro/SFProDisplay-UltralightItalic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/SFPro/SFProDisplay-UltralightItalic.woff2') format('woff2'),
  url('./assets/fonts/SFPro/SFProDisplay-UltralightItalic.woff') format('woff'),
  url('./assets/fonts/SFPro/SFProDisplay-UltralightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFPro/SFProDisplay-RegularItalic.eot');
  src: local('SF Pro Display Regular Italic'), local('SFProDisplay-RegularItalic'),
  url('./assets/fonts/SFPro/SFProDisplay-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/SFPro/SFProDisplay-RegularItalic.woff2') format('woff2'),
  url('./assets/fonts/SFPro/SFProDisplay-RegularItalic.woff') format('woff'),
  url('./assets/fonts/SFPro/SFProDisplay-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFPro/SFProDisplay-Thin.eot');
  src: local('SF Pro Display Thin'), local('SFProDisplay-Thin'),
  url('./assets/fonts/SFPro/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/SFPro/SFProDisplay-Thin.woff2') format('woff2'),
  url('./assets/fonts/SFPro/SFProDisplay-Thin.woff') format('woff'),
  url('./assets/fonts/SFPro/SFProDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFPro/SFProDisplay-Light.eot');
  src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
  url('./assets/fonts/SFPro/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/SFPro/SFProDisplay-Light.woff2') format('woff2'),
  url('./assets/fonts/SFPro/SFProDisplay-Light.woff') format('woff'),
  url('./assets/fonts/SFPro/SFProDisplay-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFPro/SFProDisplay-BlackItalic.eot');
  src: local('SF Pro Display Black Italic'), local('SFProDisplay-BlackItalic'),
  url('./assets/fonts/SFPro/SFProDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/SFPro/SFProDisplay-BlackItalic.woff2') format('woff2'),
  url('./assets/fonts/SFPro/SFProDisplay-BlackItalic.woff') format('woff'),
  url('./assets/fonts/SFPro/SFProDisplay-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFPro/SFProDisplay-Bold.eot');
  src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
  url('./assets/fonts/SFPro/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/SFPro/SFProDisplay-Bold.woff2') format('woff2'),
  url('./assets/fonts/SFPro/SFProDisplay-Bold.woff') format('woff'),
  url('./assets/fonts/SFPro/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFPro/SFProDisplay-Black.eot');
  src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
  url('./assets/fonts/SFPro/SFProDisplay-Black.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/SFPro/SFProDisplay-Black.woff2') format('woff2'),
  url('./assets/fonts/SFPro/SFProDisplay-Black.woff') format('woff'),
  url('./assets/fonts/SFPro/SFProDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFPro/SFProDisplay-SemiboldItalic.eot');
  src: local('SF Pro Display SemiboldItalic'), local('SFProDisplay-SemiboldItalic'),
  url('./assets/fonts/SFPro/SFProDisplay-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/SFPro/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
  url('./assets/fonts/SFPro/SFProDisplay-SemiboldItalic.woff') format('woff'),
  url('./assets/fonts/SFPro/SFProDisplay-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFPro/SFProDisplay-Ultralight.eot');
  src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
  url('./assets/fonts/SFPro/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/SFPro/SFProDisplay-Ultralight.woff2') format('woff2'),
  url('./assets/fonts/SFPro/SFProDisplay-Ultralight.woff') format('woff'),
  url('./assets/fonts/SFPro/SFProDisplay-Ultralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFPro/SFProDisplay-LightItalic.eot');
  src: local('SF Pro Display LightItalic'), local('SFProDisplay-LightItalic'),
  url('./assets/fonts/SFPro/SFProDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/SFPro/SFProDisplay-LightItalic.woff2') format('woff2'),
  url('./assets/fonts/SFPro/SFProDisplay-LightItalic.woff') format('woff'),
  url('./assets/fonts/SFPro/SFProDisplay-LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFPro/SFProDisplay-ThinItalic.eot');
  src: local('SF Pro Display ThinItalic'), local('SFProDisplay-ThinItalic'),
  url('./assets/fonts/SFPro/SFProDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/SFPro/SFProDisplay-ThinItalic.woff2') format('woff2'),
  url('./assets/fonts/SFPro/SFProDisplay-ThinItalic.woff') format('woff'),
  url('./assets/fonts/SFPro/SFProDisplay-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFPro/SFProDisplay-MediumItalic.eot');
  src: local('SF Pro Display MediumItalic'), local('SFProDisplay-MediumItalic'),
  url('./assets/fonts/SFPro/SFProDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/SFPro/SFProDisplay-MediumItalic.woff2') format('woff2'),
  url('./assets/fonts/SFPro/SFProDisplay-MediumItalic.woff') format('woff'),
  url('./assets/fonts/SFPro/SFProDisplay-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFPro/SFProDisplay-Semibold.eot');
  src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
  url('./assets/fonts/SFPro/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/SFPro/SFProDisplay-Semibold.woff2') format('woff2'),
  url('./assets/fonts/SFPro/SFProDisplay-Semibold.woff') format('woff'),
  url('./assets/fonts/SFPro/SFProDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFPro/SFProDisplay-HeavyItalic.eot');
  src: local('SF Pro Display HeavyItalic'), local('SFProDisplay-HeavyItalic'),
  url('./assets/fonts/SFPro/SFProDisplay-HeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/SFPro/SFProDisplay-HeavyItalic.woff2') format('woff2'),
  url('./assets/fonts/SFPro/SFProDisplay-HeavyItalic.woff') format('woff'),
  url('./assets/fonts/SFPro/SFProDisplay-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFPro/SFProDisplay-Regular.eot');
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
  url('./assets/fonts/SFPro/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/SFPro/SFProDisplay-Regular.woff2') format('woff2'),
  url('./assets/fonts/SFPro/SFProDisplay-Regular.woff') format('woff'),
  url('./assets/fonts/SFPro/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('./assets/fonts/SFPro/SFProDisplay-BoldItalic.eot');
  src: local('SF Pro Display BoldItalic'), local('SFProDisplay-BoldItalic'),
  url('./assets/fonts/SFPro/SFProDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/SFPro/SFProDisplay-BoldItalic.woff2') format('woff2'),
  url('./assets/fonts/SFPro/SFProDisplay-BoldItalic.woff') format('woff'),
  url('./assets/fonts/SFPro/SFProDisplay-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  //font-family: roboto, -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}


body {

}

.background {
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 414px;
  min-height: 896px;
  background: url("./assets/background.png");
  //background-size: contain;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.mockup {
  margin-top: 67px;
  //padding-top: 32px;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
  min-height: calc(896px - 67px);
}

.btn {
  height: 52px;
  width: 100%;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  border: none;
  box-shadow: none;
  outline: none;
  user-select: none;
  cursor: default;

  font-family: SF Pro Text;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.4px;

  &-table {
    height: 71px;
  }

  &-disabled {
    background-color: #999999;
    color: #FFFFFF;
  }

  &-blue {
    background-color: #006BE0;
    color: #FFFFFF;
  }

  &-white {
    &-black {
      background-color: #ffffff;
      color: #2B2B2B;

    }
    &-blue {
      background-color: #ffffff;
      color: #006BE0;
      outline: 1px solid #006BE0;
    }
  }
}